body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
}

.app-title {
  margin-top: 10vw; /* Adjust margin based on viewport width */
  margin-bottom: 5vw; /* Adjust margin based on viewport width */
  font-size: 6vw; /* Adjust font size based on viewport width */
  color: #0ccac4;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .app-title {
    margin-top: 50px; /* Reset margin for smaller screens */
    margin-bottom: 30px; /* Reset margin for smaller screens */
    font-size: 42px; /* Reset font size for smaller screens */
  }
}
